<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThreatTrace AI</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <script src="/static/scripts.js" charset="UTF-8"></script>
  </head>
  <body onload="nextImage()">
    <nav class="navbar">
      <a href="/">Home</a><a class="selected">Demo</a><a href="/try">Try</a>
    </nav>
    <div class="centered-content">
      <div class="spacer"></div>
      <h1>Neural Network Demo 🧠</h1>
      <div class="spacer"></div>
      <p>
        The following images are from our validation dataset, which the model
        has not seen yet. The raw output of the neural network is positive when
        predicting the image is a healthy cell and negative for parasitized
        cells. This output is transformed using a
        <a
          href="https://en.wikipedia.org/wiki/Sigmoid_function"
          target="_blank"
          rel="noopener noreferrer"
          >sigmoid function</a
        >
        to calculate the probability of the cell being healthy.
      </p>
      <div class="spacer"></div>
      <div class="two-column">
        <img id="predict-image" class="predict-image" alt="Image of a Cell" />
        <div class="prediction-text">
          <p>
            This is a picture of a
            <b id="proper-label">❓</b> cell.
          </p>
          <p>
            The raw neural network output is
            <b id="raw-output">❓</b>, which translates to a
            <b id="healthy-probability">❓</b> probability of being healthy.
          </p>
          <p>
            The AI predicts this cell is
            <b id="prediction">❓</b> with <b id="confidence">❓</b> confidence,
            making it <b id="correctness">❓</b>.
          </p>
        </div>
      </div>
      <div class="spacer"></div>
      <button
        type="button"
        id="next-image-button"
        class="simple-button"
        onclick="nextImage()"
      >
        Try Another Image
      </button>
      <div class="spacer"></div>
    </div>
    <footer>
      Discover our model's functionality and explore the source code on
      <a
        href="https://github.com/BrookMaoDev/ThreatTraceAI"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >!
    </footer>
  </body>
</html>
