<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThreatTrace AI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body
    style="
            background-image: url('{{ url_for('static', filename='neural_network_background_dimmed.jpg') }}');
            background-size: cover;
            background-position: center;
        "
  >
    <header>
      <div class="logo">
        <h1>ThreatTrace AI</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('demo') }}">Demo</a></li>
          <li>
            <a href="{{ url_for('try_it_yourself') }}">Try It Yourself</a>
          </li>
          <li>
            <a
              href="https://github.com/BrookMaoDev/threat-trace-ai-hackthevalley8"
              target="_blank"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <h2>Malaria Cell Classification Neural Network</h2>
      <p>
        This neural network can classify cells as parasitized by malaria or
        uninfected with 95.45% accuracy.
      </p>
      <div class="button-container">
        <button onclick="window.location.href='{{ url_for('demo') }}'">
          Demo
        </button>
        <button
          onclick="window.location.href='{{ url_for('try_it_yourself') }}'"
        >
          Try It Yourself
        </button>
      </div>
    </section>
  </body>
</html>
