<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThreatTrace AI</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
  </head>
  <body>
    <nav class="navbar">
      <a class="selected">Home</a><a href="/demo">Demo</a><a href="/try">Try</a>
    </nav>
    <div class="centered-content">
      <h1 id="big-title">ThreatTrace AI</h1>
      <div class="spacer"></div>
      <p>
        A convolutional neural network trained on the
        <a
          href="https://www.tensorflow.org/datasets/catalog/malaria"
          target="_blank"
          rel="noopener noreferrer"
          >Malaria dataset</a
        >
        from TensorFlow. Classifies thin blood smear images of cells as healthy
        or malaria-parasitized with <b>95.45%</b> accuracy.
      </p>
      <div class="spacer"></div>
      <div class="button-container">
        <a class="fancy-button" href="/demo">Demo</a>
        <a class="fancy-button" href="/try">Try It Out</a>
      </div>
      <div class="spacer"></div>
    </div>
    <footer>
      Discover our model's functionality and explore the source code on
      <a
        href="https://github.com/BrookMaoDev/ThreatTraceAI"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >!
    </footer>
  </body>
</html>
