<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThreatTrace AI</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/scripts.js" charset="UTF-8"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a><a href="/demo">Demo</a><a class="selected">Try</a>
    </nav>
    <div class="centered-content">
      <div class="spacer"></div>
      <h1>Try It Out 😎</h1>
      <div class="spacer"></div>
      <p>
        Upload your images to see our model's prediction for malaria infection
        status and evaluate its accuracy. Not sure which pictures to use?
        Download some from
        <a
          href="https://www.kaggle.com/datasets/iarunava/cell-images-for-detecting-malaria#:~:text=Healthcare-,cell_images,-(2%20directories"
          target="_blank"
          rel="noopener noreferrer"
          >this dataset</a
        >
        and upload them here to test the model's performance.
      </p>
      <div class="spacer"></div>
      <div class="two-column">
        <img
          id="predict-image"
          class="predict-image"
          alt="Image of a Cell"
          src="/static/placeholder.png"
        />
        <div class="prediction-text">
          <p>
            The raw neural network output is
            <b id="raw-output">_____</b>, which translates to a
            <b id="healthy-probability">_____</b> probability of being healthy.
          </p>
          <p>
            The AI predicts this cell is
            <b id="prediction">_____</b> with
            <b id="confidence">_____</b> confidence.
          </p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="file-input-wrapper">
        <input
          id="file-input"
          class="file-input"
          name="file"
          type="file"
          accept="image/*"
          onchange="uploadAndPredict()"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          stroke-linejoin="round"
          stroke-linecap="round"
          viewBox="0 0 24 24"
          stroke-width="2"
          fill="none"
          stroke="currentColor"
          class="file-icon"
        >
          <polyline points="16 16 12 12 8 16"></polyline>
          <line y2="21" x2="12" y1="12" x1="12"></line>
          <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
          <polyline points="16 16 12 12 8 16"></polyline>
        </svg>
      </div>
      <div class="spacer"></div>
    </div>
    <footer>
      Discover our model's functionality and explore the source code on
      <a
        href="https://github.com/BrookMaoDev/ThreatTraceAI"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >!
    </footer>
  </body>
</html>
